body{
    background-color: hsl(33, 69%, 82%);
  }
  
  h1{
    font-family: fantasy;
  }
  
  p{
    color: darkblue;
  }
  
  .Edu{
    color: rgb(131, 24, 24);
  }
  
  .Volunt{
    color: rgb(18, 105, 18);
  }
  
  .Age {
    color:rgb(150, 80, 57);
  }
  
  #japanese-description{
    color: gold;
  }